<style>
  main {
    padding: 2em;
    display: grid;
    justify-content: center;
    align-content: center;
  }
</style>

<main>
  <slot />
</main>

<div id="license">
  <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">
    <img src="by-nc-sa.svg" alt="license" />
  </a>
  <a href="disclaimer">Disclaimer</a>
</div>
