<svelte:head>
  <title>Disclaimer</title>
</svelte:head>

<h3>All user data is automatically deleted after 3 days.</h3>
<h3>This website is made for sole purpose of entertainment only.</h3>
<h3>
  We do not make any warranties about the completeness, reliability and accuracy
  of any information.
</h3>
<h3>
  Any reliance you place on such information is therefore strictly at your own
  risk.
</h3>
