<script>
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";

  onMount(() => {
    if (localStorage.id !== undefined) goto(`share`);
    else if (localStorage.user !== undefined) goto(`questions`);
  });

  let error,
    user = ``;
  const regex = /^[\w\d\s]+$/,
    submit = () => {
      if (regex.test(user)) {
        localStorage.user = user;
        goto(`questions`);
      } else error = `❗ This doesn't seem like a valid name ❗`;
    };
</script>

<style>
  h1 {
    text-align: center;
  }
</style>

<svelte:head>
  <title>QUARANTINE QUIZ | 2020</title>
</svelte:head>

<h1>
  QUARANTINE QUIZ
  <span>2020</span>
</h1>

<div>
  <h2>You can answer honestly.</h2>
  <h3>No one is coming to hit you in this pandemic. 😁</h3>
  <h3>Here is what to do :</h3>
  <ul>
    <li>Enter your name.</li>
    <li>Choose your answers.</li>
    <li>Share.</li>
  </ul>
</div>

{#if error}
  <div id="err">{error}</div>
{/if}

<div class="input">
  <input type="text" placeholder="What's your name ?" bind:value={user} />
  <button type="submit" on:click={submit}>Select Questions.</button>
</div>
