<script>
  import { goto } from "@sapper/app";
  import { onMount } from "svelte";
  import { questions, options } from "./questions.json";
  let answers = [],
    error,
    name = `sender`;

  onMount(() => {
    if (localStorage.id !== undefined) goto(`share`);
    else if (localStorage.user === undefined) goto(`/`);
    name = localStorage.user;
  });
  const submit = async () => {
    if (
      answers.filter(value => {
        return value !== undefined;
      }).length !== 15
    )
      error = `❗ All questions need to be answered ❗`;
    else {
      error = ``;
      const res = await fetch(
        `https://quarantine-backend.now.sh/api/createuser`,
        {
          method: `POST`,
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ name, answers })
        }
      );
      const id = await res.json();
      localStorage.id = id.id;
      goto(`share`);
    }
  };
</script>

<style>
  .child > label {
    font-size: 1.2em;
  }
  @media (max-width: 450px) {
    .child > label {
      font-size: 1em;
    }
  }
</style>

<svelte:head>
  <title>QUIZ | Questions</title>
</svelte:head>

<h1>Hello {name}.</h1>
<div id="parent">
  {#each questions as question, e}
    <div class="child">
      <label>
        <b>{e + 1} :</b>
        {question}
      </label>
      <div class="toggle">
        {#each options[e] as option, i}
          <input
            type="radio"
            bind:group={answers[e]}
            value={option}
            id="option{i}{e}" />
          <label for="option{i}{e}">{option}</label>
        {/each}
      </div>
    </div>
  {/each}
</div>

{#if error}
  <div id="err">{error}</div>
{/if}
<button type="submit" on:click={submit}>SUBMIT</button>
