<script>
  import { goto } from "@sapper/app";
  import { onMount } from "svelte";
  import Clipboard from "clipboard";
  const getInvited = async () => {
    const resp = await fetch(`https://quarantine-backend.now.sh/api/getuser`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ username: localStorage.id })
    });
    const data = await resp.json();
    localStorage.invites = JSON.stringify(data.invites);
    setTimeout(location.reload(), 2500);
  };
  let id, user, invites, link, loc;
  onMount(() => {
    id = localStorage.id;
    user = localStorage.user;
    invites = localStorage.invites;
    if (user === undefined) goto(`/`);
    else if (id === undefined) goto(`questions`);
    link = encodeURIComponent(id);
    loc = location.origin;
    new Clipboard("#cp");
  });
</script>

<style>
  @media (max-width: 450px) {
    h1 {
      font-size: 1em;
    }
  }
  table {
    margin-bottom: 15px;
  }
  #wait {
    text-align: center;
  }
  .links {
    display: grid;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
    grid-template-columns: auto;
  }
  #wa {
    background: #00bb00;
  }
  #cp {
    background: #dbdbdb;
    color: maroon;
  }
  #cp:active {
    background: black;
    color: white;
  }
</style>

<svelte:head>
  <title>QUIZ | Scoreboard</title>
</svelte:head>

<h1>
  <a href="/{link}">Your link is {loc}/{id}</a>
</h1>

<div class="links">
  <button id="wa">
    <a
      href="whatsapp://send?text={encodeURIComponent(`${user} has some questions for you, to answer them go to ${loc}/${link}`)}">
      Whatsapp
    </a>
  </button>
  <button id="cp" data-clipboard-text="{loc}/{link}">
    Copy Link
  </button>
</div>

{#if invites && invites !== '[]'}
  <table>
    <tr>
      <th>NAME</th>
      <th>SCORE</th>
    </tr>
    {#each JSON.parse(invites) as invite}
      <tr>
        <td>{invite.name}</td>
        <td>{invite.score}</td>
      </tr>
    {/each}
  </table>
{:else}
  <div id="wait">No one has answered yet ...</div>
{/if}

<button type="button" on:click={getInvited}>Recheck ?</button>
