<script>
  import { goto } from "@sapper/app";
  import { onMount } from "svelte";
  onMount(() => {
    if (!decodeURIComponent(window.location.pathname).includes("#")) goto(`/`);
    else if (localStorage.name) goto(`${window.location.pathname}/questions`);
  });
  let error,
    name = ``;
  const regex = /^[\w\d\s]+$/,
    submit = () => {
      if (regex.test(name)) {
        localStorage.name = name;
        goto(`${window.location.pathname}/questions`);
      } else error = `❗ This doesn't seem like a valid name ❗`;
    };
</script>

<svelte:head>
  <title>QUIZ | Invite</title>
</svelte:head>

{#if error}
  <div id="err">{error}</div>
{/if}

<div class="input">
  Enter your name to answer the questions sent by your friend.
  <input type="text" placeholder="What's your name ?" bind:value={name} />
  <button type="submit" on:click={submit}>Continue</button>
</div>
