<script context="module">
  export const preload = async page => {
    let data;
    const username = page.params.username,
      res = await fetch(`https://quarantine-backend.now.sh/api/getuser`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username })
      });
    const content = await res.json();
    if (content.error) goto(`/`);
    else {
      data = content;
      localStorage.invites = JSON.stringify(content.invites);
    }
    return { data, username };
  };
</script>

<script>
  import { goto } from "@sapper/app";
  import { onMount } from "svelte";
  import { questions, options } from "../questions.json";
  export let data, username;
  let response = [],
    error,
    name,
    queFinal = questions.map(question => {
      let temp = question.replace(/\byou\b/gi, `<b>${data.name}</b>`);
      temp = temp.replace(/\byour\b/gi, `<b>${data.name}</b>'s`);
      return temp;
    });
  onMount(() => {
    name = localStorage.name;
  });
  const submit = async () => {
    if (
      response.filter(value => {
        return value !== undefined;
      }).length !== 15
    )
      error = `❗ All questions need to be answered ❗`;
    else {
      error = ``;
      let score = 0;
      for (let index = 0; index < data.answers.length; index++) {
        if (data.answers[index] === response[index]) {
          score++;
        }
      }
      localStorage.score = score;
      const res = await fetch(
        `https://quarantine-backend.now.sh/api/updateuser`,
        {
          method: `POST`,
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            username,
            invites: [{ name: localStorage.name, score }]
          })
        }
      );
      const id = await res.json();
      if (id.response === "Saved")
        goto(`${encodeURIComponent(username)}/scoreboard`);
    }
  };
</script>

<style>
  .child > label {
    font-size: 1.2em;
  }
  #correct,
  #wrong {
    color: white;
    padding: 0.3em;
    text-align: right;
    border-radius: 5px;
  }
  #correct {
    background: #004e04;
  }
  #wrong {
    background: #b30000;
  }
  @media (max-width: 450px) {
    .child > label {
      font-size: 1em;
    }
  }
</style>

<svelte:head>
  <title>Questions | {data.name}</title>
</svelte:head>

<h1>Hello {name}.</h1>
<h2>You have been invited to take this quiz by {data.name}.</h2>
<h3>
  Your answers will not be saved, only total number of correct options is saved.
</h3>

<div id="parent">
  {#each queFinal as question, e}
    <div class="child">
      <label>
        <b>{e + 1} :</b>
        {@html question}
      </label>
      <div class="toggle">
        {#each options[e] as option, i}
          <input
            disabled={response[e]}
            type="radio"
            bind:group={response[e]}
            value={option}
            id="option{i}{e}" />
          <label for="option{i}{e}">{option}</label>
        {/each}
      </div>
      {#if response[e] !== undefined && response[e] !== data.answers[e]}
        <div id="wrong">✖ Nah correct answer was {data.answers[e]}</div>
      {:else if response[e] !== undefined && response[e] === data.answers[e]}
        <div id="correct">✔ Indeed that was correct option.</div>
      {/if}
    </div>
  {:else}
    <h1>No Questions here...</h1>
  {/each}
</div>

{#if error}
  <div id="err">{error}</div>
{/if}

<button type="submit" on:click={submit}>SUBMIT</button>
