<script>
  import { goto } from "@sapper/app";
  import { onMount } from "svelte";
  let previous = [],
    name,
    score;
  onMount(() => {
    if (!localStorage.score) goto(`questions`);
    previous = JSON.parse(localStorage.invites);
    name = localStorage.name;
    score = localStorage.score;
    previous = previous.map(val => {
      return val.name === name ? { name: `You`, score: val.score } : val;
    });
  });
  let getInvited = async () => {
    const resp = await fetch(`https://quarantine-backend.now.sh/api/getuser`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        username: decodeURIComponent(location.pathname.split("/")[1])
      })
    });
    const data = await resp.json();
    localStorage.invites = JSON.stringify(data.invites);
    setTimeout(location.reload(), 2500);
  };
</script>

<style>
  table {
    margin-bottom: 15px;
  }
  #new {
    margin-top: 0.75em;
    font-size: 0.8em;
    text-align: center;
  }
</style>

<svelte:head>
  <title>QUIZ | Scoreboard</title>
</svelte:head>

<h1>SCOREBOARD</h1>
<table>
  <tr>
    <th>NAME</th>
    <th>SCORE</th>
  </tr>
  {#each previous as invite}
    <tr>
      <td>{invite.name}</td>
      <td>{invite.score}</td>
    </tr>
  {/each}
</table>

<button type="button" on:click={getInvited}>Recheck ?</button>
<!-- <div id="new"> -->
<a id="new" href="../index">Click here to create your own quiz.</a>
<!-- </div> -->
