@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
html {
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	min-height: 100%;
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-content: center;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	/* border: 5px solid blue; */
	/* Material mountains */
	background: #f3fff8;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ca000f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ab0005' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c50026' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a60028' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23bd004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239d0038' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b80068' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%239a005b' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b1008a' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23920075' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ab00ae' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238b008e' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	/* Concentric Circles */
	/* background-color: black;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.21'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover; */
	/* Black Waves */
	/* background-color: #111111;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23161616' stroke-width='4.2' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); */
	/* WA Wall */
	/* background-color: #000022;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1525' height='1525' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
#sapper {
	min-width: inherit;
	border-radius: 15px;
	background-color: white;
	/* border: 5px solid blue; */
	box-shadow: 0 0 5px 0 #ccccccee;
	margin: 7% 0 7% 0;
}
h1,
h2,
h3 {
	font-family: "Gotu", sans-serif;
	font-weight: 400;
	line-height: 1.2;
}
h1 {
	font-size: 2em;
	font-weight: bolder;
	color: #6e1c0d;
	border-bottom: 2px solid red;
}
a {
	color: inherit;
}
li {
	list-style: none;
	font-weight: lighter;
	font-size: 1.1em;
	list-style-type: lower-greek;
}
span {
	font-size: 2em;
}
.input {
	display: grid;
	gap: 10px;
	grid-auto-columns: auto;
	align-items: center;
}
input[type="text"] {
	font-size: 1em;
	border: 2px solid blue;
	border-radius: 5px;
	padding: 1em;
	display: block;
}
button {
	padding: 1em;
	font-size: 1em;
	color: white;
	min-width: 100%;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	background: #ca000f;
	border: 2px solid #9a005b;
}
button:hover {
	background: #9a005b;
	border: 2px solid #ab0005;
}
button:active {
	background: rgb(20, 0, 90);
}
#err {
	padding: 1em;
	color: white;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 10px;
	background: black;
	font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}
::selection {
	color: black;
	background-color: yellow;
}
.toggle {
	display: grid;
	/* grid-template-columns: repeat(5, 1fr); */
}
.toggle input {
	width: 0;
	height: 0;
	position: absolute;
	z-index: -5;
}
.toggle input + label {
	text-align: center;
	padding: 0.75rem 2rem;
	border: solid 1px #696969;
	transition: border-color 0.15s ease-out, color 0.25s ease-out,
		background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
.toggle input + label:first-of-type {
	border-radius: 6px 6px 0 0;
}
.toggle input + label:last-of-type {
	border-radius: 0 0 6px 6px;
}
.toggle input:hover + label {
	border-color: #000000;
	background: #eee;
}
.toggle input:checked + label {
	background-color: #4000b6;
	color: #fff;
	box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
	border-color: red;
}
#parent {
	min-width: inherit;
	display: grid;
	gap: 1.5em;
	margin-bottom: 2em;
}
.child {
	display: grid;
	gap: 0.3em;
}
b {
	color: red;
	font-size: 1.2em;
}
table {
	display: grid;
	border-radius: 10px;
	border: 2px solid gray;
	padding: 0.5em;
}
tr {
	display: grid;
	padding: 0.2em;
	max-width: inherit;
	text-align: center;
	grid-template-columns: 50% 50%;
}
tr > :first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
tr > :last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
th {
	padding: 0.5em;
	font-size: 1.1em;
	background: #555;
	color: white;
}
tr:nth-child(odd) td {
	background: pink;
}
img {
	width: 85%;
}
#license {
	display: flex;
	position: fixed;
	flex-direction: column;
	font-size: 0.9em;
	bottom: 2%;
	right: 1%;
	width: 5%;
	color: white;
}
@media (max-width: 850px) {
	#sapper {
		margin: 7%;
	}
	.toggle input + label {
		flex: 0 0 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.75rem 0.25rem;
	}
	#license {
		font-size: 0.5em;
	}
}
@media (max-width: 450px) {
	#sapper {
		margin: 7%;
	}
	#license {
		right: 3%;
		width: 7%;
		height: auto;
		font-size: 0.4em;
	}
}
